{% extends "base.html" %} {% block container %}
<div class="row">
  <h1>Upload new file</h1>
  <p class="text-muted">A simple uploading tool made by @sdelquin</p>
</div>
<div class="row">
  <div class="col-md-6">
    <form method="post" enctype="multipart/form-data">
      <div class="input-group">
        <input
          type="file"
          class="form-control"
          id="inputGroupFile04"
          aria-describedby="upload-file"
          aria-label="Upload"
          name="file"
          required
        />
        <button class="btn btn-primary" type="submit" id="upload-file">
          Upload
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-center">
    <img
      class="hero-image"
      src="{{ url_for('static', filename='upload-story.svg') }}"
      alt="Upload story"
    />
    <div class="credits">
      <a href="https://storyset.com/user">User illustrations by Storyset</a>
    </div>
  </div>
</div>
{% endblock %}
