{% extends "base.html" %}
{% block container %}
  <h1>Estado</h1>

  <p>
  {% if error %}
      <i class="bi bi-x-square-fill text-danger"></i> {{ error }}.
  {% else %}
      <i class="bi bi-check-square-fill text-success"></i>
      El fichero <code>{{ upload_filename }}</code> se ha <strong>subido satisfactoriamente</strong>
      al contexto <code>{{ context.name }}</code>.
  {% endif %}
  </p>

  <p><i class="bi bi-arrow-clockwise"></i> <a href="{{ url_for('upload_file') }}">Subir más ficheros</a></p>
{% endblock %}
